<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>INFO列表</h1>
    <table border="2">
        <thead>
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {% for i in data_list %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.sex }}</td>
                <td>{{ i.age }}</td>
                <td>
                    <a href="/info_del/?nid={{ i.id }}">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/info_add/">返回</a>
</body>
</html>