<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>传递函数名，就会将后端的函数自动加括号调用，得到该函数的返回值，但是模板语法不支持给函数传参数</p>
    <p>传类名的时候也会自动加括号调用，即实例化</p>
    <p>模版语法内部能够自动判断出当前的变量名是否可以加括号调用，如果可以就会自动执行，针对的是函数名和类名</p>
    <p>如果传递的是已经实例化后的对象，如果该对象有__call__方法即对象是否可以直接加括号调用，则优先执行__call__里面的返回值；
        如果没有该方法，则再直接打印该对象。</p>
    1.{{ func }}<br>
    2.{{ Class }}<br>
    3.{{ obj }}<br>
    4.{{ obj.get_self }}<br>
    5.{{ obj.static }}<br>
    6.{{ obj.class_method }}<br>
</body>
</html>